<mat-toolbar color="primary">
    <span>Outer Games</span>
    <span class="spacer"></span>
    <button mat-flat-button  routerLink="/dashboard" color="primary">Home</button>
    <button mat-flat-button routerLink="/dashboard/games" color="primary">Products</button>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon fontIcon="account_box"></mat-icon>User Options</button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/dashboard/login"><mat-icon fontIcon="login"></mat-icon>Log In</button>
    <button mat-menu-item routerLink="/dashboard/register"><mat-icon fontIcon="app_registration"></mat-icon>Register</button>
    </mat-menu>
    <button mat-flat-button routerLink="/dashboard/products-list" color="primary">CRUD Game List</button>
</mat-toolbar>
