<div class="container mt-5">
    <div class="row">
        <div class="col-lg-15 offset-lg-0">
            <div class="card">
                <div class="card-body text-center">
                    <span class="general-title">GAMES IN DATABASE</span>
                    <button class="btn btn-success float-end" routerLink="/create-game">NEW</button>
                    <table *ngIf="listGames.length > 0" class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Platform</th>
                            <th scope="col">Price</th>
                            <th scope="col">Release date</th>
                            <th scope="col">Image</th>
                            <th scope="col">Is on Sale?</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let game of listGames">
                            <td>{{ game.title }}</td>
                            <td>{{ game.description }}</td>
                            <td>{{ game.genre }}</td>
                            <td>{{ game.platform }}</td>
                            <td>{{ game.price | currency: 'USD'}}</td>
                            <td>{{ game.releaseDate }}</td>
                            <td>{{ game.imageUrl }}</td>
                            <td>{{ game.isOnSale }}</td>
                            <td>
                              <i [routerLink]="['/edit-game', game._id]" class="far fa-edit text-primary"></i>
                            </td>
                            <td>
                              <i (click)="deleteGame(game._id)" class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h5 *ngIf="listGames.length == 0" class="text-aling: start; margin-top: 10px">
                        There are no games in the database!
                      </h5>
                </div>
            </div>
        </div>
    </div>
</div>
